body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #02020a;
}

header{
  background-color: #46464d;
  /* width:100%; */
  text-align: center;
  padding: 20px;
}

main{
  text-align: center;
}

footer{
  text-align: center;
}